# Backend
backend/vendor/
backend/node_modules/
backend/.env
backend/.env.backup
backend/storage/*.key
backend/database/database.sqlite

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local

# Enhancement Script
enhancement-script/node_modules/
enhancement-script/.env

# System
.DS_Store
*.log
.idea/
.vscode/